.box {
    width: 210px;
    height: 330px;
    padding: 30px;
    margin: 50px auto;
    border: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    border-radius: 5%;
    background-color: #030807;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.dist{
    padding-top: 40px;
}
center {
    color: var(--primary-color);
}

:root {
    --primary-background: url("../img-light.jpg");
    --primary-color: black;
}

.dark-theme {
    --primary-background: url("../img-dark.png");
    --primary-color: white;
}

body {
    background-image: var(--primary-background);
    background-size: cover;
}

#icon {
    height: 31px;
    cursor: pointer;
}



.display {
    height: 42px;
    background-color: rgb(199, 196, 192);
    border-color: black;
    width: 220px;
    border-radius: 15px;
}




.endb {   
    width: 48px;
    height: 45px; 
    border-radius: 50px;
    color: rgb(237, 247, 248);
    border-color: black;
    background-color: orange;
    transition: backgound-color 0.5s;
}
.endb:hover{
    background-color: #ff004f;
}
.end {
    background-color: rgb(255, 165, 0);
    width: 100px;
    height: 45px;
    border-radius: 40px;
}
.end:hover{
    background-color: #ff004f;
}