.box {
    width: 240px;
    height: 365px;
    padding: 30px;
    margin: 50px auto;
    border: 10px;
    text-align: center;
    border-radius: 5%;
    background-color: #082032;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

input[type="button"] {
    position: static;
    width: 48px;
    height: 42px;
    border-radius: 50px;
    color: black;
    border-color: black;
    width: 100%;
    font-size: 1.25rem;
    font-family: 'Caladea', serif;
    font-weight: bold;
}

center {
    color: var(--primary-color);
}

:root {
    --primary-background: url("../img-light.jpg");
    --primary-color: black;
}

.dark-theme {
    --primary-background: url("../img-dark.png");
    --primary-color: white;
}

body {
    background-image: var(--primary-background);
    background-size: cover;
}

#icon {
    height: 45px;
    cursor: pointer;
}



.display {
    height: 42px;
    background-color: gainsboro;
    border-color: black;
    width: 220px;
    margin-bottom: 15px;
}

.buts {
    width: 50px;
}

.endf {
    background-color: #ffc75f;
}
.endl{
    background: rgb(255,199,95);
    background: linear-gradient(0deg, rgba(255,199,95,1) 0%, rgba(255,255,255,1) 68%);
}

.endb {
    background: rgb(166,169,182);
background: linear-gradient(0deg, rgba(166,169,182,1) 0%, rgba(255,255,255,1) 68%);
}

.end {
    background-color: rgb(255, 165, 0);
}
.endp{
    background-color: #833ab4;
}
.endlp{
    background: rgb(131,58,180);
background: linear-gradient(0deg, rgba(131,58,180,1) 0%, rgba(245,181,252,1) 0%, rgba(255,255,255,1) 100%);